<button type="button" routerLink="/">Go to home</button>



<div id="naver_id_login"></div>
<div *ngIf=" ! app.user.isLogin ">
  <button (click)="onClickLoginWithGoogle()">Google Login</button>
  <button (click)="onClickLoginWithCordovaGoogle()">Cordova Google Login</button>
  <button (click)="onClickLoginWithFacebook()">Facebook Login</button>
  <button (click)="onClickLoginWithCordovaFacebook()">Cordova Facebook Login</button>
  <button (click)="onClickLoginWithKakao()">Kakao Login</button>
  <button (click)="onClickLoginWithNaver()">Naver Login</button>
  <div>
    <form (ngSubmit)="onSubmitLogin()">
      <input type="text" name="email" [(ngModel)]="email">
      <input type="password" name="password" [(ngModel)]="password">
      <button type="submit">Login</button>
    </form>
  </div>
</div>



<div *ngIf=" app.user.isLogin && app.user.profile ">
  You are logged in as <b>{{ app.user.profile.name }}</b>
  <button (click)=" app.user.logout() ">Loggout</button>
  <div>UID : {{ app.user.uid }}</div>
  <div>Am I admin? {{ app.user.isAdmin }}</div>
</div>
<div *ngIf=" app.user.isLogout ">
  * You are not logged in !!
</div>