


[depth="1"] {
    margin-left: 0;
}
[depth="2"] {
    margin-left: 2em;
}
[depth="3"] {
    margin-left: 3em;
}
[depth="4"] {
    margin-left: 4em;
}
[depth="5"],
[depth="6"],
[depth="7"],
[depth="8"],
[depth="9"],
[depth="10"] {
    margin-left: 5em;
}
