<h1>Profile</h1>



<hr>
<div *ngIf=" ! profile ">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading profile ...
</div>
<div *ngIf=" profile ">
You have logged in with {{ profile?.providerId }}<br>
<img *ngIf=" profile && profile.photoURL " src="{{ profile.photoURL }}">
Name: {{ profile?.name }}
</div>
<hr>


<div class="container">
  <form (ngSubmit)=" onSubmitProfile() ">
    <div class="form-group row">
      <div class="col-sm-4">Gender</div>
      <div class="col-sm-8 form-check">
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" value="M" [(ngModel)]=" gender "> Male
        </label>
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" value="F" [(ngModel)]=" gender "> Female
      </label>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-sm-4" for="profile-birthday">Birthday</label>
      <div class="col-sm-8">
        <input id="profile-birthday" class="form-control" type="date" name="birthday" [(ngModel)]=" birthday ">
        <small class="text-muted">Please select your birthday.</small>
      </div>
    </div>



    <div class="form-group row">
      <label class="col-sm-4" for="profile-phone">Phone Number</label>
      <div class="col-sm-8">
        <input id="profile-phone" class="form-control" type="tel" name="phone" [(ngModel)]=" phone ">
        <small class="text-muted">Please select your phone number.</small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-8 offset-sm-4">
        <input type="submit" value="Submit">
        <button type="button" routerLink="/">Cancel</button>
      </div>
    </div>

  </form>

  </div>