<button type="button" routerLink="/">Go to Home</button>

<button type="button" (click)="onClickShowCategory()">Show Category</button>
<button type="button" (click)="onClickCreatePost()">Create a Post</button>

<categories-component *ngIf=" showCategory "></categories-component>
<post-create-component *ngIf=" showPostCreateForm "></post-create-component>

<hr>
Select Category:
<button routerLink="/forum">ALL</button>
<button routerLink="/forum/abc">ABC</button>
<button routerLink="/forum/math">Math</button>
<button routerLink="/forum/music">Music</button>
<hr>

<post-list-component #postListComponent [category]="category"></post-list-component>
