<h2>
  Posts</h2>


<!--
{{ postKeys | json }}
<hr> {{ postData | json }}-->
<div *ngFor="let k of postKeys; let i = index ">

  <hr *ngIf=" ! (i % pageSize) ">

  <section class="post" *ngIf=" postData[k] ">



    <post-view-component [post]=" postData[k] " (edit)=" onEditPost( $event ) "></post-view-component>
    <comment-list-component [comments]="postData[k]['comments']"></comment-list-component>
  </section>


</div>
<div class="alert alert-info" *ngIf="inLoading"> <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading ...</div>
<div class="alert alert-warning" *ngIf="noMorePosts">No more posts</div>