<h2>
  Posts</h2>
<!--
{{ postKeys | json }}
<hr> {{ postData | json }}-->
<div *ngFor="let k of postKeys; let i = index ">
  <div *ngIf=" postData[k] ">
    <div class="postData[k].subject">
      {{ postData[k].subject }}
      <button id="post-edit-{{ k }}" (click)=" onClickPostEdit( postData[k] ) ">EDIT</button>
    </div>
    <div>
      <b>{{ postData[k].name }}</b> {{ postData[k].date }}
    </div>


    <div>
      <img *ngFor="let file of postData[k].files" src="{{ file }}">
    </div>


    <div class="content" style="padding: 1em; background-color: #efefef;">{{ postData[k].content }}</div>
  </div>
</div>