/* You can add global styles to this file, and also import other style files */


@import './styles/variables.scss';
@import './styles/mixin.scss';
@import './styles/base.scss';
@import './styles/layout.scss';
@import './styles/module.scss';

@import './pages/home/home.scss';
@import './pages/profile/profile.scss';

@import './pages/forum/post-list/post-list.scss';
@import './pages/forum/comment-list/comment-list.scss';

